---
import Welcome from '@/components/Welcome.astro';
import ShareTheMeal from "@/components/ShareTheMeal.astro";
import LatestPosts from "@/components/LatestPosts.astro";
import { BlogPost } from "@/types/BlogPost.type"
import { slugify } from '@/utils/slugify';
import { sortByDateDesc } from '@/utils/sortByDate';


import DefaultLayout from "@/layouts/DefaultLayout.astro";

const allBlog = await Astro.glob<BlogPost>("/src/content/**/*.md");

const formattedBlogposts = allBlog.map(bp => ({
    ...bp.frontmatter,
    slug: slugify(bp.frontmatter.title),
})).sort(sortByDateDesc).slice(0, 3)
---
<DefaultLayout canonical={new URL(Astro.url.pathname, Astro.site)}>
<div class="stack -layout-xl">
<Welcome />
<LatestPosts posts={formattedBlogposts} />
    <ShareTheMeal></ShareTheMeal>
</div>
</DefaultLayout>
