---
import Search from "@/components/search/Search.svelte";
import DefaultLayout from "@/layouts/DefaultLayout.astro";

const filePath = '/search.json'
---

    
<DefaultLayout canonical={Astro.request.canonicalURL}>
    <section class="layout-container mt-header section">
<div class="full-width stack">
<h1 class="section-title">Looking for something?</h1>
        <Search client:visible filePath={filePath} />
    </div>
    </section>
</DefaultLayout>
