---
import fs from 'node:fs/promises';
import {Navigation} from "@/config/index";
import { slugify } from '@/utils/slugify';
import { sortByDateDesc } from '@/utils/sortByDate';
import Search from "@/components/search/Search.svelte";
import DefaultLayout from "@/layouts/DefaultLayout.astro";

const allBlog = await Astro.fetchContent("../content/**/*.md");

const formattedBlogposts = allBlog.map(bp => ({
    ...bp,
    slug: slugify(bp.title),
})).sort(sortByDateDesc)

const filePath = '/search.json'
---

    
<DefaultLayout canonical={Astro.request.canonicalURL}>
    <section class="layout-container mt-header section">
<div class="full-width stack">
<h1 class="section-title">Looking for something?</h1>
        <Search client:visible filePath={filePath} />
    </div>
    </section>
</DefaultLayout>
