

<div class="mobileOpen">
<a href="#menu-open" mobile-open>
  Open
</a>
<a href="#" mobile-close onclick="window.history.back()">
  Close
</a>
</div>
<nav class="mobileNav" id="menu-open">
MAYBE WE NEED CONTENT

</nav>

<script lang="ts">

</script>
