---

---
<style>
.shareTheMeal {
  color: var(--color-text1);
  border-top: var(--border-thin) solid var(--color-text1);
  border-bottom: var(--border-thin) solid var(--color-text1);

  margin-bottom: var(--size-2xl);
}

.shareTheMeal-sidebar {
  overflow: visible;
}

.shareTheMeal-content {
  padding-block: var(--s0);
}


</style>

<section>
  <div class="shareTheMeal">
  <div class="layout-container | shareTheMeal-content">
    <div class="with-sidebar -layout-m justify-between | shareTheMeal-sidebar full-width">
    <div data-grow style="--min-size: 60%">
    <p><b>Hungry for more?</b>&nbsp;&nbsp;&nbsp;Do something.</p>
    </div>
    <a target="_blank" class="CTA-button" href="https://sharethemeal.org/donate" rel="noopener noreferrer">
    Share food
    </a>
    </div>
    </div>
  </div>
</section>
