---
import Logo from "./Logo.astro"
import {MY_EMAIL} from "@/config/index.ts"
---
<style>

.welcomeContainer {
  width: 100%;
  height: 100%;
  align-items: center;
  padding-block: var(--size-3xl);
}
</style>

<section class="layout-container | welcomeContainer">
<div class="full-width stack">
    <h1>JSHSJ's Dev Blog</h1>
    <h2 class="typo-hollow typo-xl"><span>Yet another developer's blog</span></h2>
    </div>
</section>
